<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::head">
<meta charset="UTF-8" />
</head>
<body>

	<header th:replace="base::header"></header>

	<div class="container">
		<div class="card">
			<div class="card-header" align="center">
				<h3>Lista de Profesores</h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="text-align: center;">Numero</th>
							<th style="text-align: center;">Nombre</th>
							<th style="text-align: center;">Apellido</th>
							<th style="text-align: center;">Es Profe</th>
							<th style="text-align: center;">Grupo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="profesor: ${profesores}">
							<td style="text-align: center;" th:text="${profesor.id}"></td>
							<td style="text-align: center;"th:text="${profesor.nombre}"></td>
							<td style="text-align: center;" th:text="${profesor.apellido}"></td>
							<td style="text-align: center;" th:if="${profesor.esProfe}" th:text="SI"></td>
							<td style="text-align: center;" th:if="${not profesor.esProfe}" th:text="NO"></td>
							<td style="text-align: center;" th:text="${profesor.apellido}"></td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>
	</div>

	<footer th:replace="base::footer"></footer>
</body>
</html>